<h2>New job form</h2>
<form #jobForm="ngForm" (ngSubmit)="createJob(jobForm)">
  <label for="engineer">Engineer</label>
  <select name="engineer" required #engineer="ngModel" ngModel placeholder="Please select" [(ngModel)]="newJob.engineer">
    <option [ngValue]="undefined" selected>Please select</option>
    <option *ngFor="let engineer of engineers">{{engineer}}</option>
  </select>
  <small *ngIf="engineer.invalid">Please select an engineer</small>
  <label for="when">When</label>
  <input type="date" name="when" ngModel required #when="ngModel" [(ngModel)]="newJob.when" />
  <small *ngIf="when.invalid">Please select a valid date</small>
  <button type="submit" [disabled]="jobForm.invalid">Add Job</button>
</form>

<h2>Jobs list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Engineer</th>
      <th>When</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs">
      <td>{{job.engineer}}</td>
      <td>{{job.when | date:'shortDate'}}</td>
      <td>
        <a [routerLink]="['/job', job.jobId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>